<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
    {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="{{ site.github.url }}/atom.xml" />

  <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" as="style"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </noscript>

  <link rel="preload" href="{{ site.url }}/css/base.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" media="screen, projection">
  <noscript>
    <link rel="stylesheet" href="{{ site.url }}/css/base.css" media="screen, projection">
  </noscript>

  <link rel="preload" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </noscript>

  <link rel="preload" href="{{ site.github.url }}/css/pygments.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css">
  </noscript>

  <link rel="preload" media="only screen and (max-device-width: 480px)" href="/css/mobile.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/mobile.css">
  </noscript>

  <link rel="preload" media="only screen and (device-width: 768px)" href="{{ site.github.url }}/css/mobile.css"
    as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" media="only screen and (device-width: 768px)" href="{{ site.github.url }}/css/mobile.css">
  </noscript>

  <link rel="preload" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
  </noscript>
  <link rel="apple-touch-icon" href="{{ site.github.url }}/apple-touch-icon.jpg" />
</head>
