<section class="sidebar">
  <div class="container">



    <div class="row">
      <div class="col">
              <a href="/" aria-label="Avatar" >
                <img src="{{ site.github.url }}/images/profile-small.jpeg" width="120px" height="120px" class="avatar img-fluid" />
              </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <section class="name">
          <a href="/" class="dynamicFontSize" style="font-size: 26px !important;">
            <span id="fname">{{ site.name|split:' '|first }}</span>
            <span id="lname">{{ site.name|split:' '|last }}</span>
          </a>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <section class="meta text-center">

          <a href="{{ site.github.owner_url }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jonasz-karwacki/" target="_blank" title="Find me on LinkedIn" aria-label="Find me on LinkedIn"><i class="fa fa-linkedin"></i></a>
          <a href="https://medium.com/@jonaszk" target="_blank" aria-label="My blog" title="My blog"><i class="fa fa-medium" aria-hidden="true"></i></a>
          <a href="mailto:jonaszakr@gmail.com?subject=hi jonasz!" target="_blank" title="Email me" aria-label="Email me"><i class="fa fa-envelope-o"></i></a>


        </section>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav class="sections">
          <ul>
            <li><a target="_blank" href="{{ site.github.owner_url }}/resume.pdf">résumé</a></li>
            <li><a href="/">about</a></li>
            <li><a href="/projects">projects</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
